body {
    font-family: -apple-system, "PingFang SC", "Helvetica Neue", "Hiragino Sans GB", "PingHei", "Source Han Sans SC",
    "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "Open Sans",
    "Microsoft YaHei", "Microsoft JhengHei", "WenQuanYi Micro Hei", "Work Sans", "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Fira Sans", "Droid Sans", SimSun, sans-serif;
}

.header {
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 50%;
    left: 0;
    right: 0;
    background-size: cover;
    background: #f5f8fa url(https://cdn.reorz.com/images/2016/08/background.jpg) no-repeat center;
    background-size: cover;
    opacity: 0.5;
    border-bottom: solid 1px #f0f3f6;
}

.header .description {
    transition: all .5s;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 350px;
    height: 50px;
    margin: -25px -175px;
    color: rgba(0, 0, 0, 1);
    font-size: 2em;
    opacity: 1;
    text-align: center;
}

.header .description::before {
    content: "「";
    font-size: .8em;
    position: relative;
    top: -6px;
    margin-right: 5px;
}

.header .description::after {
    content: "」";
    font-size: .8em;
    position: relative;
    bottom: -6px;
    margin-left: 5px;
}

.main {
    position: absolute;
    top: 60%;
    left: 50%;
    width: 400px;
    height: auto;
    margin: 0 -200px;
}

.container .menu {
    list-style: none;
}

.container .menu li {
    float: left;
    padding: 2px 5px;
}

.container a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
}

.container a:hover {
    text-decoration: underline;
    color: rgba(255, 0, 0, 0.5);
}

.footer {
    color: rgba(0, 0, 0, 0.2);
    font-size: .8em;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

/*! mobile */
@media screen and (max-width: 600px) {
    .header .description {
        opacity: 0;
    }

    .main {
        position: absolute;
        top: 50%;
        left: 10px;
        width: auto;
        height: auto;
        margin: 0;
        transition: all .5s;
        -moz-transition: all .5s;
        -webkit-transition: all .5s;
        -o-transition: all .5s;
    }

    .container .menu {
        list-style: square;
    }

    .container .menu li {
        float: none;
        padding: 6px 2px;
    }
}

@media screen and (max-height: 500px) {
    .footer {
        display: none;
    }
}
